@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1f2a36;
}

.ant-table-tbody tr:nth-child(odd) {
  background-color: #1a222c !important;
}

.ant-table,
.ant-table th {
  background: transparent !important;
  border: none !important;
}

.ant-table td,
.ant-table tr,
.ant-table th {
  background: transparent !important;
  border: none !important;
}

.ant-table th:before {
  content: unset !important;
}

.ant-table th {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.ant-table-cell {
  color: #ffffff !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ant-table-column-sorter-inner {
  color: rgba(255, 255, 255, 0.4) !important;
}

.anticon.anticon-caret-down.ant-table-column-sorter-down.active,
.anticon.anticon-caret-up.ant-table-column-sorter-up.active {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ant-table-tbody > tr:hover > td {
  background: unset !important;
  opacity: 0.8;
}

.directoriesTable .ant-table-cell {
  padding: 12px !important;
}

.ant-card-head {
  border: none !important;
}

.ant-table-cell {
  font-size: 14px;
}

.gradient-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 12px;
}

.gradient-box__item {
  background: linear-gradient(270deg, #4ab5e3 0%, rgba(74, 181, 227, 0) 100%);
  border-radius: 20px 20px 20px 0;
  height: 24px;
}

.gradient-box__item--last {
  background: linear-gradient(270deg, #b8cb6c 0%, rgba(74, 181, 227, 0) 100%);
}

.ant-tooltip-inner {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}

.openObjectsModal .ant-modal-content {
  background-color: #1f2a36 !important;
  padding: 0 !important;
}

.openObjectsModal .ant-modal-header {
  background-color: #0d1218 !important;
  height: 40px;
  margin: 0 !important;
}

.openObjectsModal .ant-modal-body {
  padding: 10px 20px 20px 20px !important;
}

.openObjectsModal .ant-modal-footer {
  display: none !important;
}

.openObjectsModal .ant-modal-title {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.anticon.anticon-close.ant-modal-close-icon {
  color: white;
  transform: translate(0px, -5px);
}

.openObjectsModal {
  transform: translate(0px, -80px);
}

.ant-table-row-expand-icon.ant-table-row-expand-icon-expanded {
  display: none;
}

.ant-table-row-expand-icon.ant-table-row-expand-icon-spaced {
  display: none;
}

.calculationsTable .ant-table-row.ant-table-row-level-1 .ant-table-cell {
  padding: 6px 0px !important;
}

.calculationsTable .ant-table-row.ant-table-row-level-1 {
  background-color: transparent !important;
}

.calculationsTable .ant-table-row.ant-table-row-level-0 {
  padding: 6px !important;
}

.scopeOneTable .ant-table-cell {
  padding: 11px !important;
}

.scopeOneTable .ant-table-row.ant-table-row-level-0[data-row-key="Итого"] {
  background-color: #356f8c !important;
}

.scopeTwoTable .ant-table-row.ant-table-row-level-0[data-row-key="Итого"] {
  background-color: #6c7a51 !important;
}

.scopeOneTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого"]
  .ant-typography {
  font-weight: 700;
}

.scopeTwoTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого"]
  .ant-typography {
  font-weight: 700;
}

.scopeTwoTable .ant-table-cell {
  padding: 11px !important;
}

.scopeThreeTable .ant-table-row.ant-table-row-level-0[data-row-key="Итого"] {
  background-color: #5b4587 !important;
}

.scopeThreeTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого"]
  .ant-typography {
  font-weight: 700;
}

.scopeThreeTable .ant-table-cell {
  padding: 11px !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 1"] {
  background-color: #356f8c !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 2"] {
  background-color: #6c7a51 !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 3"] {
  background-color: #5b4587 !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Общее по сферам"] {
  background-color: #bbbfc2 !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 1"]
  .ant-table-cell:first-child {
  color: #141b22 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 2"]
  .ant-table-cell:first-child {
  color: #141b22 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Итого по Сфере 3"]
  .ant-table-cell:first-child {
  color: #ffffff !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Общее по сферам"]
  .ant-table-cell:first-child {
  color: #141b22 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Общее по сферам"]
  .ant-table-cell:last-child {
  color: #141b22 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="Общее по сферам"]
  .ant-table-cell:first-child {
  background-color: #bbbfc2 !important;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="1"]
  .ant-table-cell:first-child {
  color: #4ab5e3 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="6"]
  .ant-table-cell:first-child {
  color: #6c7a51 !important;
  font-weight: 500;
}

.scopeMainTable
  .ant-table-row.ant-table-row-level-0[data-row-key="8"]
  .ant-table-cell:first-child {
  color: #5b4587 !important;
  font-weight: 500;
}

.scopeMainTable .ant-table-cell {
  padding: 11px !important;
}

.scopeMainTable .ant-table-cell.ant-table-cell-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(21, 28, 36);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(21, 28, 36);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(21, 28, 36);
  border-radius: 3px;
}

::-ms-scrollbar-thumb {
  background-color: rgb(21, 28, 36);
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.hiddenCloseOnDrawer .ant-drawer-close {
  display: none;
}
